name: OmniTask CI/CD

# GATILHOS: Quando esse robô deve trabalhar?
on:
  push:
    branches:
      - main # Produção
      - develop # Integração
      - "feature/**" # Qualquer branch que comece com feature/
  pull_request:
    branches:
      - main
      - develop

jobs:
  # JOB 1: Testar Backend
  build-backend:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./backend
    steps:
      - uses: actions/checkout@v4

      - name: Configurar Java 17
        uses: actions/setup-java@v4
        with:
          java-version: "17"
          distribution: "temurin"
          cache: maven

      - name: Compilar e Testar (Maven)
        # O -B (Batch mode) evita logs excessivos
        run: mvn -B package --file pom.xml -DskipTests

  # JOB 2: Testar Frontend (Web e Mobile)
  build-frontend:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        folder: [web, mobile] # Roda o teste para as duas pastas em paralelo
    defaults:
      run:
        working-directory: ./${{ matrix.folder }}
    steps:
      - uses: actions/checkout@v4

      - name: Configurar Node.js 18
        uses: actions/setup-node@v4
        with:
          node-version: "18"
          cache: "npm"
          cache-dependency-path: "./${{ matrix.folder }}/package-lock.json"

      - name: Instalar Dependências
        run: npm ci
